{% extends "boilerplate.html" %}

{% block head %}
<script src='http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js'></script>
<script src="{{ url_for('static', filename='js/spin.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.flot.js') }}"></script>
{% endblock %}

{% block body %}
<div class='page-header'>
    <h1>FRM Data
        <small>liters sold per day</small>
    </h1>
</div>

<div class='row'>
    <div class='span10' id='input_target'>
        <form>
            <fieldset>
                <div class='clearfix' id='account_id_input_container'>
                </div>  <!--/clearfix-->
            </fieldset>
        </form>
    </div>
</div>  <!--/row-->


<div class='row'>
    <div class='span14 offset1'>
        <div id='chart_target' style='height:300px;'></div>
    </div>
</div>

{% endblock %}


{% block javascript %}
<script>
    $(function() {
        // spin while we're waiting to populate the selections
        var opts = {
            lines: 6
            , length: 7
            , width: 4
            , radius: 10
            , color: '#000'
            , speed: 1
            , trail: 60
            , shadow: false
        };
        var target = document.getElementById('input_target');
        var spinner = new Spinner(opts).spin();
        var spinner_container = target.appendChild(spinner.el);
        $(spinner_container).css({'margin': '15px 0 0 45px'});

        $.ajax({
            url: '/api/1/accounts'
            , datatype: 'json'
            , success: function(response) {
                var input_header = "<label for='account_id_input'>Account ID</label>"
                    + "<div class='input'>"
                        + "<select class='small' name='account_id_input' id='account_id_input'>";
                // options injected in between the 'header' and 'finale'
                var input_finale = "</select>"
                    + "</div>"
                    + "<span class='help-block' id='account_id_input_help'></span>";
                
                var input_options = '';
                for (account in response['data']) {
                    var option = "<option>" + response['data'][account]['account_id'] + "</option>";
                    input_options += option;
                }

                // remove the spinner
                spinner.stop();
                // populate the container
                $('#account_id_input_container').html(input_header + input_options + input_finale);
                
                
                // register a handler for when the selection changes
                $('select').change(function() {
                    // blow away any lingering plots
                    $('#chart_target').empty();

                    // create a spinner as the chart is populated
                    var target = document.getElementById('chart_target');
                    var spinner = new Spinner(opts).spin();
                    var spinner_container = target.appendChild(spinner.el);
                    $(spinner_container).css({'margin': '15px 0 0 45px'});

                    $.ajax({
                        url: '/api/1/accounts/' + $('#account_id_input').val()
                        , datatype: 'json'
                        , success: function(response) {
                            // remove the chart spinner
                            spinner.stop();

                            d = response.data;  // tentative globalization so the tooltip fn can see it
                            if (d.length < 1) {
                                $('#chart_target').html(
                                    '<h4>no data available for this Account ID, sorry.</h4>'
                                    + '<h4>try Account ID 12</h4>'
                                );
                            } else {
                                // flot is very particular..
                                // wants to see timeseries: [ [time1, value1], [time2, value2] ..]
                                // so form this series from the response data:
                                var timeseries = [];
                                for (i in d) {
                                    if (d[i]['liters_sold_for_day'] == '---') {
                                        var point = [d[i]['report_date_epoch_ms'], null];
                                    } else {
                                        var point = [d[i]['report_date_epoch_ms'], d[i]['liters_sold_for_day']];
                                    }
                                    timeseries.push(point);
                                }

                                var plot_options = {
                                    series: {
                                        lines: {show: true, lineWidth: 1, fill: true}
                                        , points: {show: true}
                                    }
                                    , grid: {clickable: true, hoverable: true}
                                    , xaxis: {mode: 'time', tickLength: 5}
                                    , yaxis: {min: 0}
                                };

                                var fullness_color = '#0330AB';
                                var plot = $.plot($('#chart_target')
                                    , [{data: timeseries, color: fullness_color}]
                                    , plot_options)


                                $('#chart_target').append(
                                     "<h4>No data visible or seeing gaps?  The Soochak may have reported null values ('---')</h4>"
                                );
                                
                            }
                        }
                        , error : function(response) {
                            console.log(response);
                        }
                    });
                });

            }
            , error: function(response) {
                console.log(response);
            }
        });

        function showTooltip(x, y, contents) {
            // from the flot example on the matter
            $('<div id="tooltip">' + contents + '</div>').css( {
                position: 'absolute',
                display: 'none',
                top: y + 5,
                left: x + 5,
                border: '1px solid #fdd',
                padding: '2px',
                'background-color': '#fee',
                opacity: 0.80
            }).appendTo("body").fadeIn(200);
        }

        var previousPoint = null;
        $("#chart_target").bind("plothover", function (event, pos, item) {
            if (item) {
                if (previousPoint != item.dataIndex) {
                    previousPoint = item.dataIndex;

                    $("#tooltip").remove();
                    var x = item.datapoint[0].toFixed(2),
                    y = item.datapoint[1].toFixed(2);

                    showTooltip(item.pageX
                        , item.pageY
                        , 'session time: ' + d[item.dataIndex]['session_time']);
                }
            }
            else {
                $("#tooltip").remove();
                previousPoint = null;
            }
        });

    });
</script>
{% endblock %}

